html {
  overflow-x: hidden;
}

#toggale {
  color: #fff;
}
#humbger {
  font-size: 4em;
  word-wrap: break-word;
}
#icon {
  font-size: 18px;
  background-color: white;
}
#icon:hover {
  background-color: orangered;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.icon {
  color: orangered;
}
#img {
  position: relative;
}
#icon_abso {
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}
#icon_abso:hover {
  background-color: orangered;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#links_hovr:hover {
  background-color: orangered;
  border-radius: 20px;
}

#menu_bttons {
  background-color: black;
}
#menu_bttons:hover {
  background-color: orangered;
  width: 140px;
}

#about_button {
  background-color: black;
}

#about_button:hover {
  background-color: orangered;
  width: 183px;
}

#center_part a {
  padding-left: 20px;
}
#center_part a {
  padding-right: 20px;
}
.image {
  width: 4rem;
}

#c-body {
  margin-top: -43px;
}
.small_text {
  font-size: 10px;
}

.img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.quote {
  margin-top: -35px;
  font-size: 60px;
  color: #b6b4b4;
}

.box_shadoww {
  box-shadow: 0px 0px 8px rgb(205, 201, 201);
}

.footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.footer ul li a:hover {
  text-decoration: underline;
  color: orangered;
  font-size: 20px;
}

#txtwhite {
  color: #fff;
}

.footer a {
  opacity: 0.5;
}

.footer ul li {
  list-style: none;
}

.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.three {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.four {
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

.five {
  -webkit-animation-delay: 3.8s;
  -moz-animation-delay: 3.8s;
  animation-delay: 3.8s;
}

.six {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.seven {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  animation-delay: 5.2s;
}

.eight {
  -webkit-animation-delay: 5.9s;
  -moz-animation-delay: 5.9s;
  animation-delay: 5.9s;
}

.nine {
  -webkit-animation-delay: 6.6s;
  -moz-animation-delay: 6.6s;
  animation-delay: 6.6s;
}

.ten {
  -webkit-animation-delay: 7.3s;
  -moz-animation-delay: 7.3s;
  animation-delay: 7.3s;
}

.eleven {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}

.twelve {
  -webkit-animation-delay: 8.7s;
  -moz-animation-delay: 8.7s;
  animation-delay: 8.7s;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

.fadeUp {
  animation-name: fadeUp;
  -webkit-animation-name: fadeUp;
}
