* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container1 {
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  justify-content: space-around;
  background-color: black;
  height: 60px;
  padding-bottom: 225px;
  padding: 5px;
  z-index: 10;
}

a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
.center_nav {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  margin-right: 30px;
}
h3 {
  color: white;
}

.icons {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  cursor: pointer;
}

.iconss {
  display: flex;
}
.safari {
  color: white;
  font-weight: bold;
  font-size: large;
}
.spon {
  margin-top: 13px;
}

.home {
  background-color: orangered;
  border-radius: 40%;
  padding: 13px;
}

.container2 {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  margin-top: 100px;
}

.spec {
  color: black;
  font-size: 20px;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  justify-content: center;
  margin-bottom: 500px;
}
img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.images {
  position: relative;
}

.absu {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.absu:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
}

span {
  color: orangered;
}
h2 {
  font-size: 21px;
}
small {
  color: rgb(72, 74, 72);
}

.orderNow {
  margin-top: 20px;
  color: white;
  background-color: black;
  padding: 10px;
  width: 145px;
  border-radius: 5px;
}
.orderNow:hover {
  background-color: orangered;
  border: none;
  width: 150px;
  cursor: pointer;
}

.lacag {
  color: rgb(227, 142, 15);
  font-size: 20px;
  margin-left: 8px;
}

.border {
  border: 1px solid rgb(182, 180, 180);
  border-radius: 5px;
  margin: 8px;
  padding: 12px;
}
